.subjects-container {
  padding: 20px;
}

.subjects-table {
  width: 100%;
  margin-top: 20px;
}

.subjects-table th {
  background-color: #f1f1f1;
  font-weight: bold;
}

.subjects-table th,
.subjects-table td {
  padding: 10px;
}

button {
  min-width: 100px;
}
