.subjects-container {
  padding: 20px;
}

.subjects-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.subjects-table th, .subjects-table td {
  padding: 8px;
  text-align: left;
}

.subjects-table th {
  background-color: #f1f1f1;
  font-weight: bold;
}

button {
  margin-top: 5px;
}

.mat-dialog-content {
  margin-top: 20px;
}

.mat-dialog-actions {
  padding-top: 20px;
}