<mat-toolbar color="primary">
    <div class="toolbar-content">
        <span>{{ universityName }}</span>
        <nav>
            <a mat-button routerLink="/">Home</a>
            <a mat-button routerLink="/about">About</a>
            <a mat-button routerLink="/faculties">Faculties</a>
            <a mat-button routerLink="/study-programmes">Study programmes</a>
            <a mat-button (click)="rerouteToRegisterPage()">Register</a>
            <a mat-button (click)="rerouteToLoginPage()">Login</a>
        </nav>
    </div>
</mat-toolbar>

<main>
    <router-outlet></router-outlet>
</main>

<footer>
    <div class="footer-content">
        <p>© 2025 {{ universityName }}</p>
    </div>
</footer>