.container {
  width: 90%;
  margin: auto;
  padding-top: 25px;
}

.search-field {
  width: 300px;
  margin-bottom: 20px;
}

table {
  width: 100%;
}

.subject-card {
  margin-bottom: 10px;
  padding: 10px;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}