<mat-sidenav-container>

    <mat-sidenav mode="side" opened [fixedInViewport]="true">
        <mat-nav-list>

            <a *ngIf="hasRole('ROLE_STUDENT')" mat-list-item routerLink="/app/notifications">Notifications</a>
            <a *ngIf="hasRole('ROLE_STUDENT')" mat-list-item routerLink="/app/subjects">Subjects</a>
            <a *ngIf="hasRole('ROLE_STUDENT')" mat-list-item routerLink="/app/activities">Activities</a>

            <a *ngIf="hasRole('ROLE_PROFESSOR')" mat-list-item routerLink="/app/announcement">Announcements</a>
            <a *ngIf="hasRole('ROLE_PROFESSOR')" mat-list-item routerLink="/app/syllabus">Syllabus</a>
            <a *ngIf="hasRole('ROLE_PROFESSOR')" mat-list-item routerLink="/app/students">Students</a>
            <a *ngIf="hasRole('ROLE_PROFESSOR')" mat-list-item routerLink="/app/courses">Courses</a>
            <a *ngIf="hasRole('ROLE_PROFESSOR')" mat-list-item routerLink="/app/grading">Grading</a>

            <a *ngIf="hasRole('ROLE_STUDENT_SERVICE')" mat-list-item routerLink="/app/announcements">Announcements</a>
            <a *ngIf="hasRole('ROLE_STUDENT_SERVICE')" mat-list-item routerLink="/app/enrolment">Enrolment</a>
            <a *ngIf="hasRole('ROLE_STUDENT_SERVICE')" mat-list-item routerLink="/app/schedule">Schedule</a>
            <a *ngIf="hasRole('ROLE_STUDENT_SERVICE')" mat-list-item routerLink="/app/documents">Documents</a>
            <a *ngIf="hasRole('ROLE_STUDENT_SERVICE')" mat-list-item routerLink="/app/library">Library</a>
            <a *ngIf="hasRole('ROLE_STUDENT_SERVICE')" mat-list-item routerLink="/app/supplies">Supplies</a>

            <a *ngIf="hasRole('ROLE_ADMIN')" mat-list-item routerLink="/app/staff-management">Staff Management</a>
            <a *ngIf="hasRole('ROLE_ADMIN')" mat-list-item routerLink="/app/user-management">User Management</a>
            <a *ngIf="hasRole('ROLE_ADMIN')" mat-list-item routerLink="/app/study-programmes-management">Study Programmes Management</a>
            <a *ngIf="hasRole('ROLE_ADMIN')" mat-list-item routerLink="/app/organisation-management">Organisation Management</a>
            <a *ngIf="hasRole('ROLE_ADMIN')" mat-list-item routerLink="/app/subject-realisations">Subject Realisations</a>
            <a *ngIf="hasRole('ROLE_ADMIN')" mat-list-item routerLink="/app/teacher-assignment">Teacher Assignment</a>
            <a *ngIf="hasRole('ROLE_ADMIN')" mat-list-item routerLink="/app/examination-periods">Examination Periods</a>
            <a *ngIf="hasRole('ROLE_ADMIN')" mat-list-item routerLink="/app/knowledge-evaluations">Knowledge Evaluations</a>

            <a mat-list-item routerLink="/app/settings">Settings</a>
            <a mat-list-item (click)="logout()">Logout</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <span>Dashboard</span>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>