.activities-container {
  padding: 20px;
}

.activity-table {
  width: 100%;
  margin-top: 20px;
}

.activity-table th {
  background-color: #f1f1f1;
  font-weight: bold;
}

.activity-table th,
.activity-table td {
  padding: 10px;
  text-align: left;
}
