table {
  width: 100%;
  border-collapse: collapse;
}

th {
  font-weight: 500;
  text-align: left;
  padding: 12px;
  border-bottom: 2px solid #ddd;
}

td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f9f9f9;
}
